@import "tailwindcss";

@source '../views';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  /* Font */
  --font-inter: "Inter", "sans-serif";

  /* Font sizes */
  --text-display: 3rem;
  --text-header-1: 2rem;
  --text-header-2: 1.5rem;
  --text-header-3: 1.25rem;
  --text-header-4: 1.125rem;
  --text-body-large: 1.125rem;
  --text-body-default: 1rem;
  --text-body-small: .875rem;
  --text-caption: .875rem;
  --text-overline: .75rem;
  --text-button: 1rem;

  /* Font weights */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  /* Line heights */
  --line-height-headers: 1.5rem;
  --line-height-body: 1.5rem;
  --line-height-caption: 1.2rem;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #707070;
  --color-gray: #dbdbdb;
  --color-light-gray: #eeeeee;

  --color-dark-blue: #176087;
  --color-blue: #1d84b5;
  --color-light-blue: #53a2be;

  --color-green: #28a745;
  --color-red: #dc3545;
  --color-yellow: #ffc107;
}

h2 {
  font-size: var(--text-header-2);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-headers);
}
